@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0px 90px;
    padding-top: 170px;
    gap: 70px;
}
#left{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-bottom: 50vh;
}
#left > h1{
    font-family: "Work Sans", sans-serif;
    font-size:8.6vw;
    font-weight: 500;
    line-height: 8.8vw;
}
#bottom-left{
    /* height: 40%; */
    width: 48%;
}
#colors{
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid black;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    font-size: 2vw;
    margin-bottom: 15px;
}
#left p{
    font-size: 1.2vw;
    width:50vw;
    font-weight: 600;
    color: #444;
    line-height: 1.6vw;
} 

#right{
    height: 90%;
    width:33%; 
    position: relative; 
}
#right-top{
    height: 50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#right-top h4{
    font-size: 30px;
    font-weight: 600;
    font-family:"Work Sans", sans-serif;
}
#right-top h5{
    font-size:16px;
}
#right-top i{
    color: gold;
}
#right > img{
    width: 100%;
    height:87%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 190px;
    width: 190px;
    background-color: rgb(21, 13, 49);
    color:aliceblue;
    border-radius:50%;
    right:-15%;
    top: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola > h5{
    font-size: 26px;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -37%;
    bottom: 30%;
    rotate: -90deg;
    transform: 0 0;
    font-size: 35px;
    font-weight: 500;
}

#black-gola:hover{
    background-color: #e4e7e5;
    border: 5px solid rgb(17, 17, 50);
    color:rgb(17, 17, 50);;
}
#black-gola > h5:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vh;
}
@media (max-width:600px) {
 #main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:30px;
    padding-top:26px;
    gap: 20px;
}
#left{
    height:fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:1vh;
    gap: 30px;
}
#left > h1{
    font-family: "Work Sans", sans-serif;
    font-size:18vw;
    font-weight: 500;
    line-height: 18vw;
}
#bottom-left{
    /* height: 40%; */
    width: 48%;
}
#colors{
    width: fit-content;
    padding: 6px 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid black;
}
#color h5{
    font-size: 13px;
    margin-right: 5px;
    font-weight: 500;
}
#color1{
    height: 12px;
    width: 12px;
    background-color: brown;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    height: 12px;
    width: 12px;
    background-color: burlywood;
    border-radius: 50%;
}

#left h2{
    margin-top: 20px;
    font-size: 3vw;
    margin-bottom: 8px;
}
#left p{
    font-size: 2.2vw;
    width:70vw;
    font-weight: 600;
    color: #444;
    line-height: 3.6vw;
} 
#right{
    height: 50%;
    width:100%; 
    position: relative; 
    display: flex;
    flex-direction: column-reverse;
}
#right-top{
    height: 60px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
}
#right-top h4{
    font-size: 30px;
    font-weight: 600;
    font-family:"Work Sans", sans-serif;
}
#right-top h5{
    font-size:16px;
}
#right-top i{
    color: gold;
}
#right > img{
    width: 100%;
    height:87%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 15vh;
    width: 15vh;
    background-color: rgb(21, 13, 49);
    color:aliceblue;
    border-radius:50%;
    right:-6%;
    top: -12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola > h5{
    font-size: 3.5vw;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -51%;
    bottom: 50%;
    rotate: -90deg;
    transform: 0 0;
    font-size:5vh;
    font-weight: 500;
}
 
}